.action_btn {
    margin-bottom: 10px; 
    border-radius: 0;
    border: 0;
    padding: 10px;
    background: none;
}

.action_btn:hover {
    background-color: #313542;
}

.img {
    background: none;
}

.label {
    font-size: 21px;
    font-weight: bold;
}

.main_container {
    background-color: #23262F;
    margin: 20px;
}

.uptime_label {
    background-color: #2f323d;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3px;
    margin-bottom: 15px;
}
